<!DOCTYPE html>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->        
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width"/>
      <title> Hanbyul Jo </title>
  <link rel="shortcut icon" href="img/favicon.png" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/main.css" />

  <script type="text/javascript" src="js/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>

</head>
<body>

  <div class="row">
    <div class="header-name" class="large-12 columns">
      Hanbyul Jo &nbsp; | &nbsp; hanbyul@nyu.edu
      <p class="header-sub"> I code, think, and make</p>       
    </div>
  </div>

    <!-- Navigation -->
    <!-- End Navigation -->
                {{ content }}  
    <!-- End Sidebar -->

   <footer class="row">
    <div style="height:20px" class="large-12 columns">
      <hr />
      
          <p> Site code is <a href="https://github.com/hanbyul-here/my-site-spring-2014">here</a></p>
        

    </div>
  </footer>
</body>
</html>